<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arc Alabasta</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>

        <a href="/">
            <img src="images/OP.png" style="width: 200px;">
        </a>
    </header>
    <div class="ABC">
    <h1> Arc Alabasta </h1>
    </div>
    <div class="ABC">
    <img src="images/alabasta.jpg" width=637px height=358px>
    </div>
    <div class="premier">
    <p>
        La saga Alabasta est une partie de l'histoire du manga et anime One Piece, qui se déroule sur l'île d'Alabasta. Voici un résumé de l'histoire :<br>
    <p></p>
    - Luffy et son équipage, les Chapeaux de Paille, se rendent sur l'île d'Alabasta pour aider leur amie Vivi à sauver son pays d'une guerre civile. Le désertique Alabasta est divisé en deux factions : les rebelles menés par le chef rebelle Ace, le frère adoptif de Luffy, et les forces du roi Nefertari Cobra.<br>
    <p></p>
    - Le conflit est alimenté par une organisation criminelle appelée Baroque Works, dirigée par l'impitoyable M.0, dont les agents portent des noms de code numériques. Les Chapeaux de Paille et Vivi découvrent que Baroque Works cherche à renverser le gouvernement d'Alabasta en utilisant une arme antique, Pluton. <br>
    <p></p>
    - L'équipage de Luffy doit faire face à de nombreux défis pour arrêter Baroque Works, y compris combattre les membres les plus puissants de l'organisation tels que M.2 et M.3. Ils rencontrent également des alliés inattendus comme le déserteur de la Marine Smoker, le chasseur de primes Nico Robin et le révolutionnaire Koza. <br>
    <p></p>
    - Finalement, Luffy et ses amis s'opposent à Crocodile, le chef de Baroque Works et l'un des plus puissants corsaires du Gouvernement mondial. Avec l'aide de Vivi et de ses amis, ils déjouent ses plans et empêchent la guerre civile. Leur victoire est célébrée à Alabasta et ils repartent pour de nouvelles aventures.<br>
    <p></p>
 
</p>
</div>
</body>

</html>