<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arc East Blue</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>

        <a href="/">
            <img src="images/OP.png" style="width: 200px;">
        </a>
    </header>
    <div class="ABC">
    <h1> Arc East Blue </h1>
    </div>
    <div class="ABC">
    <img src="images/arceast.jpg" width=637px height=358px>
    </div>
    <div class="premier">
    <p>
    La saga East Blue est la première saga de l'anime et manga One Piece. Elle suit les aventures de Monkey D.
    Luffy, un jeune pirate avec des pouvoirs de caoutchouc, qui aspire à devenir le roi des pirates. Voici un résumé
    des principaux événements de la saga :<br>
    <p></p>
    - Luffy, après avoir mangé un fruit du démon qui lui a donné le pouvoir de devenir élastique, part à la recherche de
    membres pour son équipage. Il rencontre Zoro, un épéiste solitaire, qui se joint à lui après que Luffy l'ait sauvé
    d'une exécution. Ensemble, ils sauvent Nami, une voleuse talentueuse, des griffes d'un pirate maléfique nommé Baggy
    le Clown.<br>
    <p></p>
    - Ils poursuivent leur quête et rencontrent Usopp, un menteur compulsif, et Sanji, un cuisinier talentueux, qui
    rejoignent également l'équipage. Ensemble, ils font face à des ennemis tels que le Capitaine Kuro, le Capitaine Don
    Krieg, Arlong et son équipage.<br>
    <p></p>
    - Au cours de leur aventure, ils visitent des îles telles que l'Île de la Promesse, Syrup Village, Baratie, Arlong
    Park et Loguetown. Ils apprennent également l'existence du One Piece, un trésor légendaire que tous les pirates
    recherchent.<br>
    <p></p>
    - La saga se termine lorsque l'équipage de Luffy affronte la Marine à Loguetown, où ils rencontrent pour la première
    fois Smoker, un vice-amiral de la Marine. Luffy rencontre également Dragon, son père, pour la première fois, mais ne
    s'en rend pas compte.<br>
    <p></p>
    - Dans l'ensemble, la saga East Blue établit les personnages principaux et le monde de One Piece, tout en
    introduisant des thèmes tels que l'amitié, la justice et la recherche de ses rêves.<br>
    
</p>
</div>
</body>

</html>