<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figurine One Piece Arc Wano Kuni</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<header>
    <a href="/">
        <img src="images/OP.png" style="width: 200px;">
    </a>
</header>
<body>
    <pre class="AAA"><section id="com"><strong>
    Figurine Luffy</strong></section>      
        </pre>
    <div class="ABC">
        <h1> Figurine One Piece Arc Wano Kuni </h1>
        </div>
        <div class="ERB">
        <img src="images/figurine1.jpg" width=200px height=200px>
        <img src="images/figurine2.jpg" width=200px height=200px>
        <img src="images/figurine3.jpg" width=200px height=200px>
        
        </div>
        <div class="premier">
        <div>
    La figurine représente Monkey D. Luffy, le héros de One Piece, dans sa tenue classique de pirate avec son chapeau de paille caractéristique. Il est représenté en position de combat dynamique, prêt à dégainer son poing en caoutchouc pour attaquer ses ennemis.
<br></br>
    La figurine est finement détaillée, avec des muscles bien dessinés et des vêtements texturés qui ajoutent de la profondeur à la sculpture. Le visage de Luffy est emblématique, avec son sourire éclatant et ses grands yeux expressifs.
<br></br>
    La figurine mesure environ 20 centimètres de haut et les couleurs sont vives et fidèles à l'animation, avec une attention particulière portée aux détails tels que les ombres et les reflets.
 <br></br>
    En somme, cette figurine de Luffy de One Piece est un véritable must-have pour tous les fans de la série, et ravira les collectionneurs comme les amateurs de figurines de qualité.
        </div>
    </div>
        <div class="">
           <br> <button type="submit">Acheter</button></br>
       </div>

        </div>

        <div class="premier">
        
        
        
        </div>
    
</body>
</html>