<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arc île des Hommes-Poissons </title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>

        <a href="index.html">
            <img src="images/OP.png" style="width: 200px;">
        </a>
    </header>
    <div class="ABC">
    <h1> Arc île des Hommes-Poissons  </h1>
    </div>
    <div class="ABC">
    <img src="images/homme.jpg" width=637px height=358px>
    </div>
    <div class="premier">
    <p>
    L'arc post-entrainement de 2 ans est le premier arc de la seconde partie de l'histoire de One Piece, connue sous le nom de "Nouveau Monde". Cet arc commence après l'ellipse de deux ans qui suit les événements de la guerre au sommet. Luffy et son équipage se réunissent après leur période d'entraînement intensif et partent à la recherche de nouveaux défis dans le Nouveau Monde.<br>
    <p></p>
    Au cours de cet arc, l'équipage rencontre plusieurs nouveaux personnages, notamment les pirates de Barbe Noire, qui cherchent à devenir les nouveaux Empereurs des mers en prenant la place de Barbe Blanche, mort pendant la guerre au sommet. Luffy et son équipage se retrouvent également en conflit avec la Marine, qui a renforcé sa surveillance et ses attaques contre les pirates après la guerre au sommet. <br>
    <p></p>
    La saga de l'île des Hommes-Poissons est la deuxième saga de la seconde partie de l'histoire de One Piece, après l'arc post-entrainement de 2 ans. Elle se déroule sur l'île des Hommes-Poissons et tourne autour des tensions entre les Hommes-Poissons et les humains, ainsi que de la tentative de renversement du gouvernement royal des Hommes-Poissons par les Nouveaux Pirates Hommes-Poissons.<br>
    <p></p>
    Luffy et son équipage arrivent sur l'île des Hommes-Poissons et découvrent les problèmes qui y règnent. Ils rencontrent la princesse sirène Shirahoshi, qui est gardée sous haute surveillance car elle est considérée comme une arme secrète. Luffy et son équipage se lient d'amitié avec les Hommes-Poissons et s'opposent aux Nouveaux Pirates Hommes-Poissons, qui cherchent à renverser le gouvernement royal. <br>
    <p></p>
    Au cours de cette saga, Luffy et son équipage font face à de nombreux ennemis puissants, notamment Hody Jones, le leader des Nouveaux Pirates Hommes-Poissons. Ils rencontrent également l'amiral de la Marine, Fujitora, qui a été envoyé pour arrêter les pirates notoires. L'équipage fait également la connaissance du samouraï Trafalgar Law, qui devient un allié crucial dans leur voyage à travers le Nouveau Monde. <br>
    <p></p>
    À la fin de la saga de l'île des Hommes-Poissons, les tensions entre les Hommes-Poissons et les humains sont apaisées et Luffy et son équipage poursuivent leur voyage vers leur objectif ultime, le "One Piece". <br>
    
</p>
</div>
</body>

</html>