<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arc Dressrosa</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>

        <a href="index.html">
            <img src="images/OP.png" style="width: 200px;">
        </a>
    </header>
    <div class="ABC">
    <h1> Arc Dressrosa </h1>
    </div>
    <div class="ABC">
    <img src="images/rosa.jpg" width=637px height=358px>
    </div>
    <div class="premier">
    <p>
        La saga Dressrosa est la quatrième saga de la seconde partie de l'histoire de One Piece et commence après que l'équipage de Luffy a quitté l'île Punk Hazard. <br>
    <p></p>
    L'histoire se déroule sur l'île de Dressrosa, où se trouve le Royaume de Dressrosa gouverné par Don Quichotte Doflamingo. L'équipage de Luffy se rend sur l'île pour aider Trafalgar Law à renverser Doflamingo et à venger son passé. <br>
    <p></p>
    Au cours de leur voyage, ils rencontrent de nouveaux alliés tels que Kyros, Rebecca et Bartolomeo, ainsi que des ennemis redoutables tels que les officiers de Doflamingo, Pica et Trebol. <br>
    <p></p>
    Luffy et son équipage se retrouvent entraînés dans une guerre entre les forces de Doflamingo et les rebelles de Dressrosa, qui est dirigée par le roi Riku. Pendant ce temps, Usopp, Robin et Franky tentent de récupérer un jouet géant qui est en réalité un humain transformé par le fruit du démon de Sugar, une jeune fille travaillant pour Doflamingo. <br>
    <p></p>
    La saga culmine avec une bataille épique entre l'équipage de Luffy, les rebelles de Dressrosa et les forces de Doflamingo. Luffy affronte Doflamingo dans un combat qui décidera du sort de l'île de Dressrosa et de l'avenir de Trafalgar Law. <br>
    <p></p>
    Finalement, Luffy et son équipage parviennent à vaincre Doflamingo et à sauver Dressrosa. La guerre a cependant laissé des séquelles importantes et l'équipage de Luffy doit se séparer pour se soigner et poursuivre leurs rêves personnels. <br>
    
</p>
</div>
</body>

</html>